[submodule "extern/eigen-git-mirror"]
	path = extern/eigen-git-mirror
	url = git@github.com:eigenteam/eigen-git-mirror.git
[submodule "units/extern/googletest"]
	path = units/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
	shallow = true
