[submodule "extern/eigen-git-mirror"]
	path = extern/eigen-git-mirror
	url = git@github.com:eigenteam/eigen-git-mirror.git
[submodule "units/extern/googletest"]
	path = units/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/LBFGSpp"]
	path = extern/LBFGSpp
	url = git@github.com:yixuan/LBFGSpp.git
[submodule "extern/backward-cpp"]
	path = extern/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
